.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 70px;
}

.friends-wrapper {
  width: 100%;
  margin-top: 50px;
}

/* NAV BAR STYLING  */
.navbar {
  margin: 0;
  padding: 0;
  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
}
.nav-links {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar > .nav-links > li > a {
  color: black;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
  padding: 24px;
  height: 20px;
}

/* Login Nav Button */
.navbar > .logout-login > li > a {
  color: rgb(255, 255, 255);
  background-color: rgba(27, 63, 226, 0.671);
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 10px;
}

/* Active Nav Buttons */
/* .navbar > .nav-links > li > a.activeNavButton {
  background-color: darkblue;
  color: white;
} */

/* Logout Button */
/* .logout-login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */
/* 
.logout-btn {
  align-content: center;
  text-align: center;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 2px solid black;
}
.logout-btn:hover {
  cursor: pointer;
  background-color: white;
  color: darkblue;
} */

.hidden {
  display: none;
}

/* FORM STYLING  */
.log-in-message {
  margin-top: 100px;
  font-size: 4rem;
  font-weight: bold;
}
/* .form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.friend-form {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
}
.add-input {
  display: flex;
  justify-content: center;
} */
.login-input {
  width: 50%;
  height: 56px;
  padding: 0px 16px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: darkblue;
  margin-top: 20px;
  box-shadow: 0px 4px 20px 0px transparent;
}

/* .btn-login {
  display: block;
  padding: 10px 15px;
  background-color: #212529;
  color: white;
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: darkblue;
} */

/* LOGIN FORM STYLING  */

.login-container {
  margin: 0 auto;
}
.login-container h1 {
  text-align: center;
  font-size: 4rem;
}
.login-container form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.login-container label,
input {
  display: block;
  width: 100%;
}

.login-container label {
  margin-bottom: 5px;
  height: 22px;
}

/* .login-container input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
} */

.login-container input.error {
  border-color: red;
}

.login-container .input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

/* .login-container button {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  background-color: 250ms;
  border: 2px solid black;
} */

/* .login-container button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
} */
/* Signup FORM STYLING  */

.signup-container {
  margin: 0 auto;
}
.signup-container h1 {
  text-align: center;
  font-size: 4rem;
}
.signup-container form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.signup-container label,
input {
  display: block;
  width: 100%;
}

.signup-container label {
  margin-bottom: 5px;
  height: 22px;
}

/* .signup-container input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

.signup-container input.error {
  border-color: red;
}

.signup-container .input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
} */

/* .signup-container button {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  background-color: 250ms;
  border: 2px solid black;
}

.signup-container button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
} */

.signup-page-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

/* Friends List Styling */

/* .username-greeting {
  border: 1px solid rgba(11, 226, 11, 0.158);
  padding: 10px;
  max-width: 200px;
  border-radius: 50px;

  background: rgba(0, 190, 0, 0.904);
  color: white;
  font-weight: 200;
  font-size: 1.0rem;
  justify-self: flex-end;
}

.username-greeting p {
  margin: 0px;
} */

.username-greeting {
  border: 1px solid rgba(11, 226, 11, 0.158);
  padding: 10px;
  max-width: 200px;
  border-radius: 50px;

  background: rgba(0, 190, 0, 0.904);
  color: white;
  font-weight: 200;
  font-size: 1rem;
  justify-self: flex-end;
}

.username-greeting p {
  margin: 0px;
}

.friends-list-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  margin: auto;
}
.friends-list-heading h1 {
  color: #c0c0c0;
}

.friends-list-heading button {
  height: 60px;
}

.list-of-friends {
  max-width: 900px;
  display: flex;
  /* border: 1px solid black; */
  /* background: rgba(255, 255, 255, 0.041); */
  border-radius: 5px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 5px;
}

.friends-list-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
}
.friends-list-heading h1 {
  color: #212121;
}

.friends-list-heading button {
  height: 60px;
}

.list-of-friends {
  max-width: 900px;
  display: flex;
  /* border: 1px solid black; */
  /* background: rgba(255, 255, 255, 0.041); */
  border-radius: 5px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 5px;
}
